<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<div class="entries-table">
<h2 th:replace="fragments :: title"></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Entry Date</th>
    </tr>
    </thead>
    <tr th:each="entry : ${entries}">
        <td ><a class="detail-link" th:href="'/entries/detail?entryId= ' + ${entry.id}" th:text="${entry.today}"></a></td>
    </tr>
</table>
</div>
<a href="/entries/delete">Delete An Entry</a>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>