* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    background: #f5f5f5;
}
.logo {
        font-weight: bold;
        color: #448ec1;
        font-size: larger;
      }
      .navbar {
        margin-top: 40px;
      }
.greeting-container {
    margin-left: 15px;
}

.back-button {
    text-decoration: none;
    color: black;
}
.btn-danger {
    text-decoration: none;
    color: white;
}
.entry-form, .greeting-container, .entries-table {
    padding-top: 70px;
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer-link{
    color: white;
}


.title {
    display: inline-block;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    background: #3785B9;
    padding: 40px;
    color: white;
}

