<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Feel</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<nav th:fragment = "navigation" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1 class="navbar-brand" href="#">Feel</h1>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse d-flex justify-content-end"
                id="navbarNav"
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entries/addEntry">Add Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entries/allEntries">All Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<h2 th:fragment = "title" th:text="${title}"></h2>

</body>
<footer th:fragment = "footer" class="footer">
    <div class="footer-item">
        <h5>Contact</h5>
        <a class="footer-link" href="https://www.linkedin.com/in/beth-marshall-philadelphia/">LinkedIn</a>
        <p class="footer-link">bethmarsh1018@gmail.com</p>
    </div>
    <div class="footer-item">
        <h5><a class="footer-link" href="/links/about">About Us</a></h5>
    </div>
    <div>
        <h5><a class="footer-link" href="/links/resources">Resources</a></h5>
    </div>
</footer>
</html>