<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<nav th:fragment = "navigation" class="navbar navbar-light">
    <h1>Feel</h1>
    <ul>
        <li class="nav-item-1"><a class="nav-link" href="/"> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/entries/allEntries">All Entries</a></li>
        <li class="nav-item"><a class="nav-link" href="/entries/addEntry">Add Entry</a></li>
        <li class="nav-item"><a class="nav-link" href="/entries/logout">Log out</a></li>
    </ul>
</nav>
<h2 th:fragment = "title" th:text="${title}"></h2>

</body>
<footer th:fragment = "footer" class="footer" style="display: grid;
    grid-template-columns: auto auto auto;">
    <div class="footer-item">
        <h5><a class="footer-link" href="/links/contact">Contact Us</a></h5>
    </div>
    <div class="footer-item">
        <h5><a class="footer-link" href="/links/about">About Us</a></h5>
    </div>
    <div>
        <h5><a class="footer-link" href="/links/resources">Resources</a></h5>
    </div>
</footer>
</html>